/* SidePanel.css */
.side-panel {
  position: fixed;
  right: 0;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.side-panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.close-icon {
  cursor: pointer;
  font-size: 24px;
}

.close-icon:hover {
  color: red;
}

.filter-section {
  margin-bottom: 20px;
  border: 2px solid white; 
  height: 270px;
  padding: 10px;
}

.filter-list {
  max-height: 210px;
  overflow-y: auto;
  padding-right: 5px;
}

.filter-section h3 {
  margin-bottom: 10px;
}

.filter-section button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #444;
  color: white;
  border: none;
  cursor: pointer;
}

.filter-section button:hover {
  background-color: #0099cc;
}

.floating-icon {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 24px;
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
}

 .show-all-button {
  background-color: #0099cc;
  height: 40px;
  color: white;
  padding: 0 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}