.Collapsible__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;

  padding: calc(var(--gap) / 3) var(--gap);

  cursor: pointer;
  color: white;
  background-color: #0099cc;
  border-radius: 4px 4px 0 0;
}

/* collapsible trigger heading, sub-heading */
h3, h4 {
  margin: 0;
  font-size: inherit;
  font-weight: normal;
}

.Collapsible__trigger:not(.open) {
  border-radius: 4px;
}

.Collapsible__trigger.shrink {
  width: 80%; /* Shrink the details to 80% when RightPanel is open */
}

.Collapsible__trigger .collapse-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.Collapsible__trigger .collapse-icon {
  margin-right: 4px;
}

.collapsible-details {
  --collapsible-details-rhythm: calc(var(--gap) / 4);

  display: flex;
  flex-direction: row;         
  justify-content: flex-start;
  
  box-sizing: border-box;
  max-width: 100%;
  overflow: hidden;
  padding: calc(var(--gap) * 0.8) var(--gap);
  margin-left: 0;
  margin-bottom: var(--v-rhythm);
  border: 1px solid #ddd;
  border-top: none;

  line-height: 1.3;
  background-color: #2b2d31;
  color: white;
}

/* when the side drawer is open */
.collapsible-details.shrink {
  width: 80%;
}

/* collapsible details headings */
h4 {
  font-weight: bold;
}
.collapsible-details > div:not(:first-of-type) h4 {
  margin-top: var(--gap);
  margin-bottom: var(--collapsible-details-rhythm);
}

.collapsible-details > div h4 {
  margin-bottom: var(--collapsible-details-rhythm);
}

/* Most list content is formatted with a little indent */
.collapsible-details-list > li {
  list-style-type: disc;
  margin-left: var(--gap);
  border-bottom: none;
  margin-bottom: var(--gap); /* Add gap between <li> items */
}

.collapsible-details-list > li:not(:last-of-type) {
  margin-bottom: calc(var(--gap) / 4);
}

/* references list is numbered */
.collapsible-details-references > li {
  list-style-type: decimal;
  border-bottom: none;
}

.collapsible-details {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  box-sizing: border-box; 
}

/* Details section and circular progress section widths */
.details-section1 {
  width: 70%; /* 70% of the width */
  padding-right: 20px; /* Optional: space between the sections */
  box-sizing: border-box; /* Ensures padding is included in the width calculation */
}

.circular-progress-section {
  width: 30%; /* 30% of the width */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px; /* Optional: space between the sections */
  box-sizing: border-box; /* Ensures padding is included in the width calculation */
}

/* Media Queries for responsive design */
@media (max-width: 1024px) { /* Tablet and below */
  .details-section1,
  .circular-progress-section {
    width: 50%; /* On medium screens, each section will take 50% */
  }
}

@media (max-width: 600px) { /* Mobile and below */
  .details-section1,
  .circular-progress-section {
    width: 100%; /* Each section takes 100% on mobile screens */
  }
}
