.loader-spinner {
  margin-top: 20px;
  padding-left: 5px;
 }
 
.alert-success, .alert-fail {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1100;
  width: 500px;
  padding: 16px;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  color: white;
}

.alert-success {
  background-color: #395;
}

.alert-fail {
  background-color: #c00000;
}
